.agent {
    background: url(../img/firstpic.jpg) center (center/cover) no-repeat;
    height: 342px;
    &__img {
        display: block;
        margin: 0 auto;
        padding-top: 58px;
    }
    &__descr span {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        font-size: 19px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
    }
    &__descr {
        margin-top: 20px;
        font-size: 19px;
        font-weight: 300;
        text-align: center;
        color: #ffffff;
    }
}