.price {
    &__form {
        position: relative;
        &__img {
            width: 1110px;
            position: absolute;
            z-index: -1;
        }
        .feed-form {
            padding: 0 148px;
            padding-top: 120px;
            input {
                width: 268px;
                height: 44px;
                display: inline-block;
                padding-left: 28px;
                border-radius: 22px;
                border: solid 1px rgba(0, 0, 0, 0.21);
                background-color: #ffffff;
                font-size: 13px;
                opacity: 0.9;
                font-weight: 300;
                text-align: left;
                color: rgba(16, 16, 16, 0.7);
            }
        }
    }
}
