.perks_of_work {
    height: 590px;
    background-color: #f3f3f3;
    padding-top: 58px;
    &__main_title {
        font-size: 23px;
        font-weight: bold;
        text-align: center;
        color: #2e2e2e;
        text-transform: uppercase;
        padding-bottom: 31px;
    }
    &__descr {
        width: 409px;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        color: #3a3a3a;
        margin-left: 17px;
    }
    &__items {
        display: flex;
        margin-bottom: 36px;
    }
    &__img {
        height: 56px;
    }
    &__descr span {
        font-size: 16px;
        font-weight: bold;
        color: #ec644b;
    }
}
